<!-- ?? footer start -->
<footer class="bg-light pt-4  ">
    <div class="container">
        <!-- ?? Bottom footer -->
        <div class="card mb-3 bg-gray-600 rounded-3">
            <div class="card-body">
                <div class="d-flex gap-3 align-items-center justify-content-between flex-wrap">
                    <div class="order-3 order-md-1">
                        <p class="text-black">
                            © 2023 ADBuild. All Rights Reserved
                        </p>
                    </div>
                    <div class="d-flex order-1 order-md-2 flex-wrap gap-3">
                        
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    Visit the Showroom
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    Site map
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
                       
                      
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    Policy
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    Term & Conditions
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    FAQs
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
                        <!-- ?? Link start -->
                        <div class="col-12 col-md-auto">
                            <a href="#" class="text-decoration-none text-dark">
                                <small>
                                    About Us
                                </small>
                            </a>
                        </div>
                        <!-- ?? Link End -->
    
    
                    </div>
                    <div class="order-2 order-md-3">
                        <div class="d-flex flex-wrap align-items-center gap-10px">
                            <span class="text-black col-12 col-md-auto">
                                We Using Safe Payment For
                            </span>
                            <img src="/assets/images/svg/visa.svg" alt="">
                            <img src="/assets/images/svg/master_card.svg" alt="">
                            

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ?? footer end -->