<!-- ?? ================================= Start nav bar ============================= -->
<div>
    <!-- ?? Top -->
    <nav class="py-1 d-none d-lg-block border-bottom">
        <div class="container">

            <div class="row justify-content-between align-items-center">
                <div class="d-inline-flex gap-2 col-auto">
                    <div class="dropdown">
                        <a class="text-decoration-none dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            U.S. Dollar $
                            <span class="feather icon-feather-chevron-down fs-20px ms-1"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>

                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class="text-decoration-none dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Language
                            <span class="feather icon-feather-chevron-down fs-20px ms-1"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="#">Arabic</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    English
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- ?? right -->
                <div class="col-auto">
                    <p class="mb-0">
                        <span class="feather fs-20px icon-feather-phone"></span>
                        Help line 0097125511633
                    </p>
                </div>
            </div>

        </div>
    </nav>
    <!-- ?? Middle -->
    <nav class="navbar navbar-expand-lg bg-white border-bottom">
        <div class="container">

            <div class="w-100 d-flex justify-content-between align-items-center" id="navbarTogglerDemo01">
                <a class="navbar-brand col-auto ">
                    <img src="/assets/images/logo.svg" alt="">
                </a>
                <div class="col-auto d-none d-xl-block">
                    <form class="d-flex" role="search">
                        <div class="input-group">
                            <button class="btn btn-gray shadow-none dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                All
                                <span class="feather icon-feather-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action before</a></li>
                                <li><a class="dropdown-item" href="#">Another action before</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>

                            </ul>
                            <input placeholder="I'm shopping for..." type="text"
                                class="form-control bg-light border-0 shadow-none"
                                aria-label="Text input with 2 dropdown buttons">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#image_search_modal" class="btn btn-light shadow-none">
                                <span class="feather align-baseline icon-feather-camera"></span>
                               
                            </button>
                            <button class="btn btn-primary shadow-none" type="button">
                                Search
                            </button>

                        </div>
                    </form>
                </div>
                <div class="col-auto  d-flex gap-3 gap-xxl-4 align-items-center">
                    <div class="">
                        <div class="dropdown">
                            <a class="text-decoration-none d-flex gap-2 align-items-center dropdown-toggle"
                                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/assets/images/avatar.jpg" class="avatar border" alt="">
                                <div class="d-none d-lg-block">
                                    <p class="text-muted mb-1 lh-sm small">
                                        Hey
                                    </p>
                                    <p class="mb-0 lh-sm">
                                        Mohammed
                                    </p>
                                </div>
                            </a>
                            <ul class="dropdown-menu py-3" style="min-width: 250px;"
                                aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <a class="dropdown-item text-gray-700 py-2" href="#">
                                        My account
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-700 py-2" href="#">
                                        Orders
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-700 py-2" href="#">
                                        Manager RFQ
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-gray-700 py-2" href="#">
                                        Faverites
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item py-2 text-danger" href="#">
                                        Sign out
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <ul class="list-unstyled align-items-center mb-0 d-flex gap-3 gap-lg-3">
                        <li class="nav-item">
                            <a class="nav-link p-0 d-flex align-items-center" aria-current="page"
                                href="/cart-products.html">
                                <span class="icon-feather-shopping-bag align-middle me-1 feather fs-20px"></span>
                                <span class="d-none d-lg-inline">
                                    Cart
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 d-flex align-items-center" aria-current="page"
                                href="/my-wishlist.html">
                                <span class="icon-feather-heart align-middle me-1 feather fs-20px"></span>
                                <span class="d-none d-lg-inline">
                                    Wishlist
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-0 d-flex align-items-center" aria-current="page"
                                href="/contact-us.html">
                                <span class="icon-feather-message-circle align-middle me-1 feather fs-20px"></span>
                                <span class="d-none d-lg-inline">
                                    Contact Us
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ?? Bottom -->
    <nav class="navbar navbar-light navbar-expand-lg bg-white border-bottom">
        <div class="container">
            <form class="d-inline-flex d-lg-none" role="search">
                <div class="input-group">
                    <button class="btn btn-gray shadow-none dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                        <span class="feather icon-feather-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action before</a></li>
                        <li><a class="dropdown-item" href="#">Another action before</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>

                    </ul>
                    <input placeholder="I'm shopping for..." type="text"
                        class="form-control bg-light border-0 shadow-none"
                        aria-label="Text input with 2 dropdown buttons">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#image_search_modal"
                        class="btn btn-light shadow-none">
                        <span class="feather align-baseline icon-feather-camera"></span>

                    </button>
                    <button class="btn btn-primary shadow-none" type="button">
                        Search
                    </button>

                </div>
            </form>
            <button class="navbar-toggler border-0 shadow-none " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarBottomMenu" aria-controls="navbarBottomMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarBottomMenu">
                <div class="col-auto mt-3 mt-lg-0">
                    <span class="feather fs-4 align-middle icon-feather-align-justify"></span>
                    Categories
                </div>
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/all-brands.html">
                            Brands
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/all-products.html">
                            All products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/services.html">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/manufacturers.html">
                            Manufacturers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/shops.html">
                            Shops
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/auction-home.html">
                            Auction
                        </a>
                    </li>
                </ul>

                <div class="col-auto  d-flex gap-3 gap-xxl-4 align-items-center">

                    <div class="d-inline-flex gap-4 col-auto">
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">
                                    About us
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">
                                    FAQ
                                </a>
                            </li>
                           
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- ?? ================================= End nav bar ============================= -->
